/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Header Styles */

header {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
}

.nav-items ul {
  display: flex;
}

.nav-items li {
  margin-left: 2rem;
}

.nav-items a {
  font-size: 1.2rem;
}

.search-bar input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #0072c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero Styles */

.hero {
  height: 50vh;
  background-image: url("https://via.placeholder.com/800x400");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 2rem;
}

/* Featured Products Styles */

.featured-products {
  padding: 4rem 2rem;
  background-color: #f8f8f8;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.product-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-info p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-info button {
  padding: 0.5rem 1rem;
  background-color: #0072c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* About Us Styles */

.about-us {
  padding: 4rem 2rem;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 2rem
}
